
/* little trick that i learned from the running project 
asterisk override default styles systems */

* {
    padding: 0;
    margin: 0;  
    box-sizing: border-box ;
    font-size:'Sixty-four', sans-serif;
}



ul {
    color:rgb(101, 231, 36) ;
    background-color: black;
}




/* css footer for small sizeing pages */

#sodial-media {

    text-align: center; 
    display: flex;    
    justify-content: space-evenly;
    list-style-type: none;  
    padding: 20px 0;
}
#social-media i {

    font-size: 160%;
    padding: 5%;
    letter-spacing: 5px;
}