/* little trick that i learned from the running project 
asterisk override default styles systems */


/* ALREADY VISITED WEBSITE THAT TURNS PURPLE BY DEFAULT WHEN VISITED 
TO BE CHANGED IN THE FUTURE */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.visited {
    color: #000000;
}

/*   HEADER   */


#nav-list {
    list-style: none;
    padding: 0;
    border: 5px solid rgb(145, 20, 171);
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header li {
    border-bottom: 1px solid;
    padding: 10px;
    text-align: center;
}

#name {
    color: #ad10bc;
    text-align: center;
    background-color: rgb(255, 223, 0, 0.5);
    border: #ad10bc 5px solid;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*   MAIN    */

#index-photos h1 {

    padding: 10px;
    text-align: center;
    border: 5px solid rgb(251, 0, 255);
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}


#index-photos img {
    padding: 10px;
    text-align: center;
    align-items: center;
    border: 5px solid rgb(251, 0, 255);
    box-shadow: 5px 5px rgb(238, 106, 6);
    width: 100%;
}

#fps, #rpg, #open-wolrd, #souls-like, #rogue-like {
    padding: 0;
    margin: 0;
    font-family: "Anta", sans-serif;
    font-style: normal;
    border: #ad10bc 1px solid;
    text-align: center;
}


/* css footer for small sizeing pages */

#social-media {

    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: xx-large;
    letter-spacing: 10px;
    padding-left: 20px;
    border: rgb(120, 8, 130) 5px solid;
    /*Have this paddind top so the page would scroll down */
}





/* Gallery css */

#photos img {
    padding: 10px;
    text-align: center;
    border: 5px solid rgb(251, 0, 255);
    box-shadow: 5px 5px rgb(238, 106, 6);
    width: 100%;
}




/* Sign Up Css */
#main-signup {
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#signup {
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    width: 100%;
    
}

#signup h2 {
    color: #fafafa00;
    margin-bottom: 20px;
    border: 5px solid rgb(255, 0, 255);
    color: rgb(146, 13, 176);
    text-align: center;
}

#signup-form {
    color: #bf11b0;
    background-color: rgba(242, 255, 1, 0.715);
    padding: 30px;
    text-align: center;

}



.text-input {

    color: #000000;
    width: 100%;
    height: 20px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}



.submit {
    margin-top: 20px;
    border-radius: 2px;
    padding: 13px 65px;
    font-size: 100%;
    background-color: #e55f0c;
    color: #fafafa;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}